<h1>You have created <%= @name %> the <%= @species %></h1>

<!-- <div class="new-pet">
  <h1>Your Tamagotchi</h1>
  <form action="/interaction" method="post">
    <div class="form-group">
      <label for="interactions">Interact with your pet</label>
      <select class="form-control" name="interactions">
        <option>Feed</option>
        <option>Pet</option>
        <option>Nap</option>
        <option>Clean</option>
      </select>
    </div>
    <button type="submit" class="btn">Go</button>
  </form>
</div> -->

<a href="/">Back</a>
